# PostgreSQL
POSTGRES_USER=almox
POSTGRES_PASSWORD=GERAR_COM_openssl_rand_base64_32
POSTGRES_DB=almoxcontrol
DATABASE_URL=postgresql://almox:GERAR_COM_openssl_rand_base64_32@postgres:5432/almoxcontrol

# Next.js
NEXTAUTH_SECRET=GERAR_COM_openssl_rand_base64_32
NEXTAUTH_URL=https://stocky.mpmserver.com.br
NODE_ENV=production
